<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
   <h1 class="display-3">Here are our Project(s)</h1>
    <% usersWithProjects.forEach(function(user) { %>
    <p class = "project-text"><%=user.project%></p>
    <%}) %>


    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Project</a>
  </div>
</div>

<%- include('partials/footer') %>
