<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
           <h1>Home Page</h1>
          <p>Purpose of the Casual Coding Meetup website is to share
            basic information of members, including basic coding and development background, as well as current projects. It aims to facilitate collaboration.</p>
          <p>Currently, there are three pages, for members:  Register, Login, and a Projects page to enter a short description of one project to show the group. 
             Many changes and refinements are planned for the website.</p>

          <!-- Makes POST request to /register route -->
          <form action= "/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

        </div>
      </div>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>
