<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
   <h1 class="display-3">Member Projects</h1>
    <p class="project-text">Share Information on Your Projects</p>

    <form action="/submit" method="POST">

      <div class="form-group">
        <input type="text" class="form-control text-center" name="project" placeholder="Details of Your Projects">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>


  </div>
</div>
<%- include('partials/footer') %>
